.blackSectionContainer {
    margin-top: 100px;
    padding: 100px 80px;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blackSectionContainer h2 {
    width: 90%;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
}

.blackSectionContainer p {
    width: 60%;
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 0.36px;
}

.blackSectionContainer button {
    margin-top: 50px;
    padding: 10px 25px;
    border-radius: 5px;
    background: #FF4359;
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #fff;
}

@media screen and (max-width: 960px) {
    .blackSectionContainer {
        padding: 80px 20px;
    }

    .blackSectionContainer h2 {
        font-size: 36px;
        width: 95%;
    }

    .blackSectionContainer p {
        width: 75%;
        font-size: 16px;
    }

    .blackSectionContainer button {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .blackSectionContainer {
        padding: 60px 20px;
    }

    .blackSectionContainer h2 {
        font-size: 26px;
        width: 100%;
    }

    .blackSectionContainer p {
        width: 90%;
        font-size: 14px;
    }

    .blackSectionContainer button {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px)  {
    .blackSectionContainer button {
        font-size: 14px;
    }
}