.appIntegrationContainer {
    margin-top: 100px;
    padding: 0px 20px;
}

.appIntegrationContainer h2 {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
}

.appIntegrationContainer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    position: relative;
}

.appIntegrationContainer .card {
    height: 45px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 0.5px solid #E5E5E5;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.10);
}

.appIntegrationContainer .card span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}

.appIntegrationContainer .card .imageWrapper {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

@media screen and (max-width: 960px) {
    .appIntegrationContainer h2 {
        font-size: 36px;
    }

    .appIntegrationContainer .card {
        height: 40px;
        padding: 0px 15px;
    }

    .appIntegrationContainer .wrapper {
        gap: 25px;
    }

    .appIntegrationContainer .card .imageWrapper {
        height: 20px;
        width: 20px;
    }

    .appIntegrationContainer .card span {
        font-size: 14px;
        margin-left: 6px;
    }
}

@media screen and (max-width: 768px) {
    .appIntegrationContainer h2 {
        font-size: 26px;
    }

    .appIntegrationContainer .card {
        height: 35px;
        padding: 0px 10px;
    }

    .appIntegrationContainer .wrapper {
        gap: 20px;
    }

    .appIntegrationContainer .card .imageWrapper {
        height: 16px;
        width: 16px;
    }

    .appIntegrationContainer .card span {
        font-size: 12px;
    }
}