.revenueSectionContainer {
    margin-top: 66px;
    width: 100%;
    padding: 85px 80px 85px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 120, 255, 0.05);
    gap: 30px;
}

.revenueSectionContainer h2 {
    width: 85%;
    color: #001833;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.44px;
}

.revenueSectionContainer p {
    width: 70%;
    color: #001833;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.revenueSectionContainer button {
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    border-radius: 5px;
    background: #FF4359;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .revenueSectionContainer {
        padding: 30px 20px 30px 20px;
    }

    .revenueSectionContainer h2 {
        font-size: 30px;
    }

    .revenueSectionContainer p {
        font-size: 15px;
    }

    .revenueSectionContainer button {
        font-size: 12px;
    }
}

@media screen and (max-width: 460px) {
    .revenueSectionContainer h2 {
        font-size: 30px;
    }

    .revenueSectionContainer p {
        font-size: 15px;
    }

    .revenueSectionContainer button {
        font-size: 12px;
    }
}

@media screen and (max-width: 960px) {
    .revenueSectionContainer h2 {
        font-size: 30px;
    }

    .revenueSectionContainer p {
        font-size: 15px;
    }

    .revenueSectionContainer button {
        font-size: 12px;
    }
}