.limitedUserSectionContainer {
    margin-top: 100px;
    padding: 0px 80px;
    display: flex;
    align-items: center;
}

.limitedUserSectionContainer .info {
    width: 70%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.limitedUserSectionContainer .info h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
}

.limitedUserSectionContainer .info p {
    margin-top: 10px;
}

.limitedUserSectionContainer .info button {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background: #FF4359;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #FFF;
}

.limitedUserSectionContainer .imageWrapper {
    width: 35%;
    object-fit: contain;
}

@media screen and (max-width: 960px) {
    .limitedUserSectionContainer {
        padding: 0px 20px;
    }

    .limitedUserSectionContainer .info h2 {
        font-size: 36px;
    }

    .limitedUserSectionContainer .info p {
        font-size: 14;
    }

    .limitedUserSectionContainer .info button {
        font-size: 18px;
        width: 180px;
    }
}

@media screen and (max-width: 768px) {
    .limitedUserSectionContainer {
        flex-direction: column;
    }

    .limitedUserSectionContainer .info {
        width: 100%;
        margin: 0px;
    }

    .limitedUserSectionContainer .info h2 {
        font-size: 26px;
    }

    .limitedUserSectionContainer .info p {
        font-size: 14;
    }

    .limitedUserSectionContainer .imageWrapper {
        width: 100%;
        object-fit: contain;
        margin-top: 30px;
    }

    .limitedUserSectionContainer .info button {
        font-size: 16px;
        width: 160px;
    }
}