.workSectionContainer {
    margin-top: 100px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.workSectionContainer .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
}


.workSectionContainer .headerContainer h2 {
    color: #000;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.66px;
    text-align: center;
}

.workSectionContainer .headerContainer p {
    margin-top: 15px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.workSectionContainer .stepsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.workSectionContainer .stepsContainer .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    padding: 40px;
}

.workSectionContainer .stepsContainer .step h2 {
    margin-top: 15px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}

.workSectionContainer .stepsContainer .step span {
    margin-top: 20px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
}


.workSectionContainer .stepsContainer .step p {
    margin-top: 10px;
    color: #333;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}


@media screen and (max-width: 768px) {
    .workSectionContainer {
        padding: 0px 20px;
    }

    .workSectionContainer .headerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workSectionContainer .headerContainer p {
        font-size: 14px;
        text-align: center;
    }

    .workSectionContainer .stepsContainer {
        flex-direction: column;
        text-align: center;
    }

    .workSectionContainer .stepsContainer .step p {
        font-size: 10px;
    }
}

@media screen and (max-width: 460px) {
    .workSectionContainer {
        padding: 0px 20px;
    }

    .workSectionContainer .headerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .workSectionContainer .headerContainer p {
        font-size: 14px;
        text-align: center;
    }


    .workSectionContainer .stepsContainer {
        flex-direction: column;
        text-align: center;
    }

    .workSectionContainer .stepsContainer .step p {
        font-size: 10px;
    }
}

@media screen and (max-width: 960px) {
    .workSectionContainer {
        padding: 0px 20px;
    }

    .workSectionContainer .headerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .workSectionContainer .headerContainer h2 {
        font-size: 35px;
    }

    .workSectionContainer .headerContainer p {
        font-size: 14px;
        text-align: center;
    }

    .workSectionContainer .stepsContainer {
        flex-direction: column;
        text-align: center;
    }

    .workSectionContainer .stepsContainer .step p {
        font-size: 14px;
    }
}