@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dela+Gothic+One&family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@700&display=swap');

.heroSectionContainer {
    margin-top: 120px;
    padding: 0px 80px;
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
}

.heroSectionContainer .leftSideBar .subHead {
    color: #0060CC;
    font-size: 18px;
    font-weight: 600;
}

.heroSectionContainer .leftSideBar h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.66px;
    display: flex;
    flex-direction: column;
}

.heroSectionContainer .leftSideBar h1 .ai {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #0060CC;
    font-weight: 600;
}

.heroSectionContainer .leftSideBar h1 .ai svg {
    margin-right: 5px;
}

.heroSectionContainer .leftSideBar h1 .playFair {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.heroSectionContainer .leftSideBar h1 .spaceGrotes {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.heroSectionContainer .leftSideBar h1 .mt {
    display: flex;
}

.heroSectionContainer .leftSideBar h1 .mt span:nth-child(1) {
    font-family: 'Dela Gothic One', sans-serif;
}

.heroSectionContainer .leftSideBar h1 .mt span:nth-child(2) {
    font-family: 'Architects Daughter', sans-serif;
    margin-left: 13px;
}

.heroSectionContainer .leftSideBar .checkList {
    display: flex;
    align-items: center;
}

.heroSectionContainer .leftSideBar .checkList span {
    display: block;
    font-size: 16px;
    letter-spacing: 0.32px;
    margin-left: 10px;
}

.heroSectionContainer .leftSideBar .price {
    margin-top: 25px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.42px;
}

.heroSectionContainer .leftSideBar .price .mo {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.21px;
}

.heroSectionContainer .leftSideBar .price .month {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.39px;
}

.heroSectionContainer .leftSideBar .buttonContainer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.heroSectionContainer .leftSideBar .buttonContainer button {
    width: 50px;
    padding: 10px 0px;
    border-radius: 5px;
    border: 0.5px solid #333;
    background: #FFF;
    font-size: 16px;
    font-weight: 500;

}

.heroSectionContainer .leftSideBar .mainButton {
    margin-top: 20px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    background: #FF4359;
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #FFF;
    cursor: pointer;
}

.heroSectionContainer .leftSideBar .creditCard {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #404040;
    font-weight: 500;
    margin-top: 3px;
}

.heroSectionContainer .leftSideBar .card svg {
    margin-right: 2px;
}

.heroSectionContainer .leftSideBar .placeHolder {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #404040;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .heroSectionContainer {
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 960px) {
    .heroSectionContainer .video {
        width: 100%;
    }

    .heroSectionContainer {
        padding: 0px 20px;
        margin-top: 90px;
    }

    .heroSectionContainer .leftSideBar .subHead {
        font-size: 14px;
    }

    .heroSectionContainer .leftSideBar h1 {
        font-size: 36px;
    }

    .heroSectionContainer .leftSideBar .checkList span {
        font-size: 14px;
    }

    .heroSectionContainer .leftSideBar .price {
        font-size: 22px;
    }

    .heroSectionContainer .leftSideBar .price .mo {
        font-size: 10px;
    }

    .heroSectionContainer .leftSideBar .price .month {
        font-size: 20px;
    }

    .heroSectionContainer .leftSideBar .buttonContainer button {
        width: 40px;
        padding: 8px 0px;
        font-size: 14px;
    }

    .heroSectionContainer .leftSideBar .mainButton {
        font-size: 16px;
    }

    .heroSectionContainer .leftSideBar .placeHolder {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .heroSectionContainer .video {
        width: 100%;
    }

    .heroSectionContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .heroSectionContainer .leftSideBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: auto;
        text-align: center;
    }

    .heroSectionContainer .leftSideBar .buttonContainer {
        width: 80%;
    }

    .heroSectionContainer .leftSideBar .mainButton {
        width: 80%;
    }
}

@media screen and (max-width: 460px) {
    .heroSectionContainer .video {
        width: 100%;
    }

    .heroSectionContainer .leftSideBar .buttonContainer {
        width: 100%;
    }

    .heroSectionContainer .leftSideBar .mainButton {
        width: 100%;
    }

    .heroSectionContainer .leftSideBar .creditCard {
        font-size: 12px;
    }
}

/* Video Section */
.heroSectionContainer .video {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}



.heroSectionContainer .video iframe {
    width: 100%;
    height: 100%;
}

.heroSectionContainer .video .youtube {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSectionContainer .video .youtube button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(232, 232, 232, 0.50);
    background: rgba(255, 255, 255, 0.1);
    fill: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(2.5px);
    cursor: pointer;
}


.heroSectionContainer .video:hover .youtube button path {
    fill: #404040;
}

.heroSectionContainer .video:hover .youtube button {
    background: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .heroSectionContainer .video {
        margin-left: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .heroSectionContainer .video {
        margin-left: 0px;
        margin-top: 30px;
        width: 100%;
    }
}