.reviewSectionContainer {
    margin-top: 100px;
    padding: 0px 80px;
}

.reviewSectionContainer h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
    margin-bottom: 50px;
}

.reviewSectionContainer .card {
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 138, 37, 0.10);
}

.reviewSectionContainer .card .title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.24px;
}

.reviewSectionContainer .card p {
    margin: 20px 0px;
    font-size: 14px;
    letter-spacing: 0.21px;
}

.reviewSectionContainer .card .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewSectionContainer .card .author {
    display: flex;
    flex-direction: column;
}

.reviewSectionContainer .card .author span:nth-child(1) {
    font-weight: 500;
    letter-spacing: 0.28px;
}

.reviewSectionContainer .card .author span:nth-child(2) {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.24px;
    color: #333;
}

.reviewSectionContainer .mobile {
    display: none;
}

.reviewSectionContainer .arrowContainer {
    display: none;
}

@media screen and (max-width: 960px) {
    .reviewSectionContainer {
        padding: 0px 20px;
    }

    .reviewSectionContainer h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .reviewSectionContainer h2 {
        font-size: 26px;
    }

    .reviewSectionContainer .card {
        padding: 20px;
    }
}

@media screen and (max-width: 640px) {
    .reviewSectionContainer .hide {
        display: none;
    }

    .reviewSectionContainer .mobile {
        display: flex;
        overflow-x: scroll;
        gap: 20px;
    }

    .reviewSectionContainer .mobile .card {
        width: 100vw !important;
        min-width: calc(100vw - 40px);
    }

    .reviewSectionContainer .arrowContainer {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reviewSectionContainer .arrowContainer button {
        margin: 0px 20px;
        width: 40px;
        height: 25px;
        border: none;
        background-color: black;
        border-radius: 3px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
    }
}