.templateSectionContainer {
    padding: 100px 0px;
    margin-top: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.templateSectionContainer .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.templateSectionContainer .info h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
    text-align: center;
}

.templateSectionContainer .info p {
    font-size: 18px;
    letter-spacing: 0.36px;
    text-align: center;
}

.templateSectionContainer .info button {
    margin-top: 25px;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    background: #FF4359;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 0.2px;
}

.templateSectionContainer .imageGrid {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.templateSectionContainer .imageGrid .row {
    margin-top: 40px;
    display: flex;
    gap: 20px;

}

.templateSectionContainer .imageGrid .row:nth-child(1) {
    animation: scrollLeft 10s infinite linear;
}

.templateSectionContainer .imageGrid .row:nth-child(2) {
    animation: scrollRight 10s infinite linear;
}

.templateSectionContainer .imageGrid .row .imageWrapper {
    min-width: 200px;
    object-fit: contain;
}


@keyframes scrollLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scrollRight {
    from {
        transform: translateX(-50%);

    }

    to {
        transform: translateX(0%);
    }
}









@media screen and (max-width: 960px) {
    .templateSectionContainer info h2 {
        font-size: 36px;
        padding: 0px 20px;
    }

    .templateSectionContainer .info p {
        font-size: 16px;
        padding: 0px 20px;
    }

    .templateSectionContainer .info button {
        width: 300px;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .templateSectionContainer info h2 {
        font-size: 26px;
        padding: 0px 20px;
    }

    .templateSectionContainer .info p {
        font-size: 14px;
        padding: 0px 20px;
    }

    .templateSectionContainer .info button {
        width: 250px;
        font-size: 16px;
    }
}