.wheelContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.wheelContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.wheelContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.wheelContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.wheelContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wheelContainer .head svg {
    width: 25px;
    height: 25px;
}

.wheelContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.wheelContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.wheelContainer .wheelGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.wheelContainer .wheelGenerator .contrastWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

.wheelContainer .wheelGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.wheelContainer .wheelGenerator .leftSide h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.wheelContainer .wheelGenerator .leftSide .row {
    margin-top: 30px;
    position: relative;
}

.wheelContainer .wheelGenerator .leftSide .row label {
    font-size: 14px;
    font-weight: 600;
}

.wheelContainer .wheelGenerator .leftSide .row .wrapper {
    position: relative;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.wheelContainer .wheelGenerator .leftSide .row input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.wheelContainer .wheelGenerator .leftSide .row span {
    display: block;
    position: absolute;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    right: 10px;
    border: 1px solid #DCDCDC;
    background-color: red;
}

.wheelContainer .wheelGenerator .leftSide .row select {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    font-size: 14px;
    background: url(../../../public/Assets/downArrow1.svg) 95% center no-repeat #ffffff !important;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.wheelContainer .wheelGenerator .leftSide .poweredBy {
    margin-top: 15px;
    font-size: 10px;
    color: #808080;
}

.wheelContainer .wheelGenerator .leftSide .poweredBy a {
    text-decoration: none;
    color: #808080;
}

.wheelContainer .wheelGenerator .leftSide .poweredBy a:hover {
    color: #0078FF;
    text-decoration: underline;
}

.wheelContainer .wheelGenerator .rightSide {
    padding-top: 55px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wheelContainer .wheelGenerator .rightSide .colorBox {
    width: 100%;
    max-width: 507px;
    height: 435px;
    border-radius: 10px;
    background-color: #6AFFED;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.wheelContainer .wheelGenerator .rightSide .colorBox .box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.wheelContainer .wheelGenerator .rightSide .colorBox .box .copy {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wheelContainer .wheelGenerator .rightSide .colorBox .box span:nth-child(2) {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 5px;
}

.wheelContainer .wheelGenerator .rightSide .colorBox .box span:nth-child(3) {
    text-transform: capitalize;
    font-size: 8px;
    color: #fff;
}

.wheelContainer .wheelGenerator .rightSide button {
    margin-top: 30px;
    color: #0078FF;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.wheelContainer .wheelGenerator .rightSide a {
    margin-top: 30px;
    color: #0078FF;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.wheelContainer .wheelGenerator .rightSide a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 900px) {
    .wheelContainer .wheelGenerator .contrastWrapper {
        flex-direction: column;
    }

    .wheelContainer .wheelGenerator .leftSide {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        padding: 40px 40px;
    }

    .wheelContainer .wheelGenerator .rightSide {
        padding: 40px 40px;
    }

    .wheelContainer .wheelGenerator .rightSide .colorBox {
        width: 100%;
        max-width: 100%
    }
}

@media screen and (max-width: 650px) {
    .wheelContainer {
        padding: 0px 20px;
    }

    .wheelContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .wheelContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}