.planDetailContainer {
    padding: 0px 80px;
    padding-top: 120px;
}

.planDetailContainer .title {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.44px;
}

.planDetailContainer p {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 0.36px;
}

.planDetailContainer p span {
    font-weight: 600;
}

.planDetailContainer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 30px;
}

.planDetailContainer .grid .card {
    display: flex;
    align-items: center;
}

.planDetailContainer .grid .card .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

@media screen and (max-width: 960px) {
    .planDetailContainer {
        padding: 0px 20px;
        padding-top: 120px;
    }

    .planDetailContainer .title {
        font-size: 36px;
    }

    .planDetailContainer p {
        font-size: 16px;
    }

    .planDetailContainer .grid .card span {
       font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .planDetailContainer .title {
        font-size: 26px;
    }
}