/* Toast Container */
.toastContainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.toastContainer .toast {
    height: 45px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    opacity: 0;
    animation: slideUp 0.2s forwards, stay 0.5s 0.5s forwards, fadeOut 0.5s 2.5s forwards;
}

/* Animation for the toast */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes stay {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}