.appInfoContainer {
  margin-top: 50px;
  padding: 0px 50px;
  overflow: hidden;
}

.appInfoContainer .card .box {
  position: relative;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
}

.appInfoContainer .card img {
  border-radius: 10px;
  object-fit: contain;
}

.appInfoContainer .card .box2 {
  position: absolute;
  width: 100%;
  height: 300px;
  background: linear-gradient(113.6deg, #00ecc2 0%, #ffd75f 100%);
  border-radius: 10px;
  position: relative;
  z-index: -1;
  top: -18px;
  left: -18px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
}

.appInfoContainer .card h5 {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700;
}

.appInfoContainer .card p {
  font-size: 18px;
  color: #404040;
}

.appInfoContainer .card .info {
  display: block;
  margin-top: 20px;
}

.appInfoContainer .tagsContainer {
  margin-top: 20px;
}

.appInfoContainer .tagsContainer button {
  padding: 5px 10px;
  border-radius: 33px;
  margin-right: 20px;
  border: none;
  background: linear-gradient(94.22deg,
      rgba(0, 236, 194, 0.1) 0%,
      rgba(255, 215, 95, 0.1) 100%);
  margin-top: 10px;
}

.appInfoContainer .tagsContainer button span {
  background: linear-gradient(93.36deg, #00ecc2 -0.32%, #ffd75f 100.53%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}

.appInfoContainer .card .info1 {
  display: block;
  margin-top: 20px;
}

.appInfoContainer .profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.appInfoContainer .profile .profileImage {
  background-image: url('https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fHByb2ZpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.appInfoContainer .profile .sumeetShinde {
  background-image: url('../../public/Assets/summet.webp');
}

.appInfoContainer .profile .anshul {
  background-image: url('../../public/Assets/Anshul.jpg');
}

.appInfoContainer .profile .ishwar {
  background-image: url('../../public/Assets/ishwar.webp');
}

.appInfoContainer .profile .abhishek {
  background-image: url('../../public/Assets/abhishek.webp');
}

.appInfoContainer .profile .amogh {
  background-image: url('../../public/Assets/amogh.webp');
}

.appInfoContainer .profile .jatin {
  background-image: url('../../public/Assets/jatin.webp');
}

.appInfoContainer .profile .harsh {
  background-image: url('../../public/Assets/harsh.webp');
}

.appInfoContainer .profile .profileInfo {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.appInfoContainer .profile .profileInfo span:nth-child(1) {
  font-weight: 600;
}

.appInfoContainer .card2 {
  margin-top: 100px;
}

.appInfoContainer .card2 .box2 {
  background: linear-gradient(113.6deg, #ff4359 0%, #ff8a25 100%);
}

.appInfoContainer .card2 .tagsContainer button {
  background: linear-gradient(94.22deg, rgba(255, 67, 89, .1), rgba(255, 138, 37, .1));
}

.appInfoContainer .card2 .tagsContainer button span {
  background: linear-gradient(93.36deg, #ff4359 -.32%, #ff8a25 100.53%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}


.appInfoContainer .card3 {
  margin-top: 100px;
}

.appInfoContainer .card3 .box2 {
  background: linear-gradient(113.6deg, #0078ff, #00ecc2);
}

.appInfoContainer .card3 .tagsContainer button {
  background: linear-gradient(94.22deg, rgba(0, 120, 255, .1), rgba(0, 236, 194, .1));
}

.appInfoContainer .card3 .tagsContainer button span {
  background: linear-gradient(93.36deg, #0078ff -.32%, #00ecc2 100.53%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}

.appInfoContainer .card4 .box2 {
  background: linear-gradient(113.6deg, #ff43ca, #0078ff)
}

.appInfoContainer .card4 .tagsContainer button {
  background: linear-gradient(94.22deg, rgba(255, 67, 202, .1), rgba(0, 120, 255, .1));
}

.appInfoContainer .card4 .tagsContainer button span {
  background: linear-gradient(93.36deg, #ff43ca -.32%, #0078ff 100.53%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}


.appInfoContainer .card5 {
  margin-top: 100px;
}

.appInfoContainer .card5 .box2 {
  background: linear-gradient(113.6deg, #ff8a25, #ffd75f);
}

.appInfoContainer .card5 .tagsContainer button {
  background: linear-gradient(94.22deg, rgba(255, 138, 37, .1), rgba(255, 215, 95, .1));
}

.appInfoContainer .card5 .tagsContainer button span {
  background: linear-gradient(93.36deg, #ff8a25 -.32%, #ffd75f 100.53%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}


.appInfoContainer .card6 {
  margin-top: 100px;
}

.appInfoContainer .card6 .box2 {
  background: linear-gradient(113.6deg, #8A43FF 0%, #FF8A25 100%);
}

.appInfoContainer .card6 .tagsContainer button {
  background: linear-gradient(113.6deg, rgba(138, 67, 255, 0.1) 0%, rgba(255, 138, 37, 0.1) 100%);
}

.appInfoContainer .card6 .tagsContainer button span {
  background: linear-gradient(113.6deg, #8A43FF 0%, #FF8A25 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}


.appInfoContainer .card7 {
  margin-top: 100px;
}

.appInfoContainer .card7 .box2 {
  background: linear-gradient(113.6deg, #1410C7 0%, #FF43CA 100%);
}

.appInfoContainer .card7 .tagsContainer button {
  background: linear-gradient(113.6deg, rgba(20, 16, 199, 0.1) 0%, rgba(255, 67, 202, 0.1) 100%);
}

.appInfoContainer .card7 .tagsContainer button span {
  background: linear-gradient(113.6deg, #1410C7 0%, #FF43CA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}

.appInfoContainer .more {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .appInfoContainer .card h5 {
    font-size: 28px;
  }

  .appInfoContainer .card p {
    font-size: 20px;
  }

  .appInfoContainer .tagsContainer button {
    padding: 10px 20px;
  }

  .appInfoContainer .tagsContainer button span {
    font-size: 14px;
  }
}

/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .appInfoContainer {
    padding: 0px 80px;
    margin-top: 100px;
    overflow: hidden;
  }

  .appInfoContainer .card h5 {
    margin-top: 0px
  }

  .appInfoContainer .card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .appInfoContainer .card .box {
    width: 50%;
    height: 550px;
  }

  .appInfoContainer .card .box2 {
    height: 550px;
  }

  .appInfoContainer .card h5 {
    font-size: 36px;
  }

  .appInfoContainer .card .info {
    width: 50%;
    min-width: 450px;
    margin-right: 50px;
  }

  .appInfoContainer .card2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .appInfoContainer .card2 .info {
    width: 50%;
    margin-right: 0px;
    margin-left: 50px;
  }

  .appInfoContainer .more {
    margin-top: 110px
  }
}