.appsCardBlock {
  padding: 40px 30px;
  overflow: hidden;
}

.appsCardBlock h1 {
  font-size: 32px;
}

.appsCardBlock p {
  font-size: 14px;
  color: #404040;
  font-weight: 300;
  margin-top: 10px;
}

.appsCardBlock .inputContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.appsCardBlock .inputContainer button {
  background: #ff3950;
  border-radius: 5px;
  height: 40px;
  max-width: 250px;
  margin-top: 10px;
  border: none;
  color: #fff;
  padding: 0px 15px;
}

.appsCardBlock .inputContainer button:hover {
  background: #ff4359;
  cursor: pointer;
}

.appsCardBlock .head {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.appsCardBlock .head div {
  display: flex;
}

.appsCardBlock .head a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.appsCardBlock .grid {
   display: flex;
   overflow: scroll;
}

.appsCardBlock .grid .card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 30px;
}

.appsCardBlock .grid .card .box {
  width: 200px;
  height: 113px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
 align-items: center;
}

.appsCardBlock .grid .card .box span {
  font-weight: 500;
  color: #fff;
  font-size: 14px;
}

.appsCardBlock .grid .card .box .img {
  width: 80%;
}

.appsCardBlock .grid .card h5 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .appsCardBlock h1 {
    font-size: 42px;
  }

  .appsCardBlock p {
    font-size: 16px;
  }
}

/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .appsCardBlock {
    padding: 80px;
  }

  .appsCardBlock h1 {
    font-size: 48px;
  }

  .appsCardBlock p {
    font-size: 18px;
    width: 50%;
  }

  .appsCardBlock .grid {
    gap: 15px;
  }

  .appsCardBlock .inputContainer {
    flex-direction: row;
  }

  .appsCardBlock .inputContainer button {
    margin: 0px;
  }
}