.features {
  padding: 30px 30px;
}

.features h1 {
  text-align: center;
  font-size: 24px;
}

.features .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 30px;
}

.features .grid .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features .grid .card span {
  font-size: 18px;
}

.features .grid .card h3 {
  font-size: 18px;
}

.features .grid .card p {
  font-size: 14px;
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .features .grid .card span {
    font-size: 20px;
  }
  
  .features .grid .card h3 {
    font-size: 20px;
  }
  
  .features .grid .card p {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  .features {
    padding: 80px;
  }

  .features h1 {
    text-align: center;
    font-size: 34px;
  }
  
  .features .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
  }
 
  .features .grid .card p {
    font-size: 18px;
  }
}