.footer {
  margin-top: 100px;
  padding: 0 30px;
}

.footer .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

.footer .grid .list {
  display: flex;
  flex-direction: column;
}

.footer .grid .titleFooter {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 500;
}

.footer .grid .row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer .grid .row .titleFooter {
  margin: 0;
}

.footer .grid .row .logo {
  margin-right: 20px;
  width: 50px;
}

.footer .grid .row .logo img {
  width: 100%;
  height: 100%;
}

.footer .grid .imagesContainer {
  display: flex;
  margin-top: 10px;
}

.footer .grid .imagesContainer .img {
  margin-right: 15px;
  cursor: pointer;
}

.footer .grid p {
  font-size: 1rem;
  color: #404040;
}

.footer .grid a {
  margin-bottom: 5px;
  color: #404040;
  font-size: 1rem;
  text-decoration: none;
}

.footer .list span {
  margin-bottom: 5px;
  color: #404040;
  font-size: 1rem;
  text-decoration: none;
}

.footer .grid a:hover {
  color: #000000;
}

.footerBottom {
  border-top: 1px solid #dcdcdc;
  font-size: 1rem;
  margin-top: 30px;
  padding: 20px 0;
  color: #404040;
}

.footerBottom .subPart {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.footerBottom .subPart a {
  margin-top: 3px;
  color: #404040;
  text-decoration: none;
}

.footerBottom .subPart a:hover {
  color: #000000;
}

@media screen and (min-width: 620px) {
  .footer .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .footer {
    padding: 0px 80px;
  }

  .footer .grid {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }

  .footer .grid .row .titleFooter {
    font-size: 24px
  }

  .footer .grid p {
    font-size: 18px
  }

  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0px;
  }

  .footerBottom .subPart {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0px;
  }

  .footerBottom .subPart a {
    margin-top: 0px;
    margin-left: 20px;
  }

  .footer .grid p {
    font-size: 16px
  }

  .footer .grid a {
    font-size: 16px;
  }
}