.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbarLaptop {
  display: none;
}

.navbar .row {
  display: flex;
  align-items: center;
}

.navbar .logo {
  width: 60px;
  cursor: pointer;
}

.navbar .big {
  font-size: 16px;
  margin-left: 10px;
}

.navbar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .sideMenu {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  min-width: 310px;
  max-width: 310px;
  background-color: #fff;
  padding: 20px;
  padding-right: 15px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
}

.navbar .sideMenu .big {
  margin-left: 0px;
}

.navbar .sideMenu .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.navbar .sideMenu .list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.navbar .sideMenu .list a {
  display: block;
  margin-bottom: 20px;
  color: #404040;
  text-decoration: none;
}

.loginButtonContainer {
  display: flex;
  align-items: center;
}

.loginButton {
  display: flex;
  background-color: #f8f8f9;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #000 !important;
  font-size: 16px !important;
  letter-spacing: 0.02em;
  border: none;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #dfe0e1;
}

.signupButton {
  display: flex;
  background-color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  color: #fff !important;
  font-size: 16px !important;
  letter-spacing: 0.02em;
  margin-left: 20px;
  cursor: pointer;
}


.signupButton:hover {
  background-color: rgba(0, 0, 0, 1);
}

.dashboardButton {
  display: flex;
  background-color: #fff;
  width: 180px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  color: #000 !important;
  font-size: 16px !important;
  letter-spacing: 0.02em;
  cursor: pointer;
  border: 1px solid black;
}

@media screen and (min-width: 960px) {
  .navbar {
    display: none;
  }

  .navbarLaptop {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .navbarLaptop .logo {
    cursor: pointer;
  }

  .navbarLaptop .row {
    display: flex;
    align-items: center;
  }

  .navbarLaptop .big {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
    cursor: pointer;
  }

  .navbarLaptop .small {
    font-weight: 300;
    cursor: pointer;
  }

  .navbarLaptop a {
    margin-right: 20px;
    color: #404040;
    text-decoration: none;
    font-size: 18px;
  }

  .navbarLaptop .bold {
    font-weight: 500;
    color: #000;
  }

  .navbarLaptop .bold:hover {
    text-decoration: underline;
  }
}