.pillsContainer {
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
}

.pillsContainer h1 {
  align-self: center;
  font-weight: bold;
  font-size: 48px;
}

.pillsContainer p {
  font-size: 18px;
  color: #404040;
  align-self: center;
}

.pillsContainer .cardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.pillsContainer .cardContainer .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background: linear-gradient(135deg, #ff4359 0%, rgba(255, 67, 89, 0.75) 100%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
}

.pillsContainer .cardContainer .box1 {
  background: linear-gradient(135deg, #0078ff 0%, rgba(0, 120, 255, 0.75) 100%);
}

/* reality card */
.pillsContainer .realityCard {
  width: 500px;
  height: 500px;
  left: 122px;
  top: 4383px;
  background: #ffffff;
  border: 2px solid #ff4359;
  box-sizing: border-box;
  border-radius: 10px;
}

.pillsContainer .realityCard h1 {
  margin-top: 55px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.pillsContainer .realityCard p {
  font-weight: normal;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  color: #101010;
  margin-left: 59px;
  margin-right: 58px;
  margin-top: 50px;
}

.pillsContainer .realityCard .emailContainer input {
  margin-top: 50px;
  width: 293px;
  height: 39px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  padding: 0px 10px;
  margin-left: 40px;
}

.pillsContainer .emailContainer button {
  margin-left: 10px;
  width: 105px;
  height: 39px;
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.pillsContainer h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #404040;
  text-align: center;
  margin-top: 50px;
}

/* matrix card */
.pillsContainer .matrixCard {
  width: 500px;
  height: 500px;
  left: 122px;
  top: 4383px;
  background: #ffffff;
  border: 2px solid #0078ff;
  box-sizing: border-box;
  border-radius: 10px;
}

.pillsContainer .matrixCard h1 {
  margin-top: 55px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.pillsContainer .matrixCard p {
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #101010;
  margin-left: 59px;
  margin-right: 58px;
  margin-top: 50px;
}

.pillsContainer .matrixCard .emailContainer input {
  margin-top: 50px;
  width: 293px;
  height: 39px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  padding: 0px 10px;
  margin-left: 40px;
}

.pillsContainer .matrixCard .emailContainer button {
  margin-left: 10px;
  width: 105px;
  height: 39px;
  background: #0078ff;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.pillsContainer h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #404040;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .pillsContainer {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
  }
  .pillsContainer h1 {
    font-size: 35px;
  }
  .pillsContainer p {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .pillsContainer h1 {
    text-align: center;
  }
  .pillsContainer .cardContainer {
    flex-direction: column;
    align-items: center;
  }
  .pillsContainer .cardContainer .box {
    margin-bottom: 30px;
  }
  .pillsContainer .realityCard {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  /* reality card */
  .pillsContainer .cardContainer .box {
    width: 370px;
    height: 370px;
  }
  .pillsContainer .realityCard {
    width: 370px;
    height: 370px;
  }
  .pillsContainer .realityCard h1 {
    margin-top: 5px;
    font-size: 25px;
  }
  .pillsContainer .realityCard p {
    font-size: 15px;
    margin-top: 10px;
  }
  .pillsContainer .realityCard .emailContainer input {
    margin-top: 15px;
    margin-left: 40px;
  }
  .pillsContainer .emailContainer button {
    margin-left: 130px;
    margin-top: 10px;
  }
  .pillsContainer h2 {
    margin-top: 30px;
  }
  /* matrix card */
  .pillsContainer .matrixCard {
    width: 370px;
    height: 370px;
  }
  .pillsContainer .matrixCard h1 {
    margin-top: 5px;
    font-size: 25px;
  }
  .pillsContainer .matrixCard p {
    font-size: 15px;
    margin-top: 10px;
  }
  .pillsContainer .matrixCard .emailContainer input {
    margin-top: 15px;
    margin-left: 40px;
  }
  .pillsContainer .matrixCard .emailContainer button {
    margin-left: 130px;
    margin-top: 10px;
  }
  .pillsContainer h2 {
    margin-top: 10px;
  }
  .pillsContainer p {
    text-align: center;
  }
}

@media (max-width: 380px) {
  .pillsContainer .cardContainer .box {
    font-size: 28px;
  }
  /* reality card */
  .pillsContainer .cardContainer .box {
    width: 300px;
    height: 300px;
  }
  .pillsContainer .realityCard {
    width: 300px;
    height: 300px;
  }
  .pillsContainer .realityCard h1 {
    margin-top: 5px;
    font-size: 25px;
  }
  .pillsContainer .realityCard p {
    line-height: 25px;
    font-size: 10px;
    margin-top: 10px;
  }
  .pillsContainer .realityCard .emailContainer input {
    width: 250px;
    margin-left: 25px;
  }
  .pillsContainer .emailContainer button {
    margin-left: 90px;
    margin-top: 10px;
  }
  .pillsContainer h2 {
    margin-top: 30px;
  }
  /* matrix card */
  .pillsContainer .matrixCard {
    width: 300px;
    height: 300px;
  }
  .pillsContainer .matrixCard h1 {
    margin-top: 5px;
    font-size: 25px;
  }
  .pillsContainer .matrixCard p {
    line-height: 25px;
    font-size: 10px;
    margin-top: 10px;
  }
  .pillsContainer .matrixCard .emailContainer input {
    width: 250px;
    margin-left: 25px;
  }
  .pillsContainer .matrixCard .emailContainer button {
    margin-left: 90px;
    margin-top: 10px;
  }
  .pillsContainer h2 {
    margin-top: 10px;
  }
  .pillsContainer p {
    text-align: center;
  }
}
