.secondBlackSection {
  background: #000000;
  padding: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
}

.secondBlackSection p:nth-child(1) {
  background: linear-gradient(to right,
      #0078ff 0%,
      #00ecc2 24%,
      #ffd75f 50%,
      #ff8a25 75%,
      #ff4359 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondBlackSection p:nth-child(3) {
  margin-top: 60px;
  background: linear-gradient(to right,
      #0078ff 0%,
      #00ecc2 24%,
      #ffd75f 50%,
      #ff8a25 75%,
      #ff4359 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .secondBlackSection {
    padding: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 960px) {
  .secondBlackSection {
    padding: 100px;
    font-size: 48px;
  }
}