.supportedByContainer {
  margin-top: 40px;
  padding: 40px 30px;
  overflow: hidden;
  padding-bottom: 0px;
}

.supportedByContainer .supportedTitle {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.supportedByContainer .imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.supportedByContainer .imageContainer div {
  width: 70px;
  height: 80;
  margin: 10px;
}

.supportedByContainer .imageContainer div img {
  object-fit: auto !important;
}

@media screen and (min-width: 620px) {
  .supportedByContainer .supportedTitle{
    font-size: 22px;
  }

  .supportedByContainer .imageContainer div {
    width: 90px;
    margin: 10px 20px;
  }
}

@media screen and (min-width: 960px) {
  .supportedByContainer .supportedTitle {
    font-size: 26px;
  }

  .supportedByContainer .imageContainer div {
    width: 100px;
    margin: 10px 30px;
  }
}