.thirdBlackSectionContainer {
  margin-top: 30px;
  padding: 30px;
  padding-bottom: 60px;
  background-color: #000;
  overflow: hidden;
}

.thirdBlackSectionContainer h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.thirdBlackSectionContainer h5 {
  font-size: 16px;
  color: #c4c4c4;
  font-weight: 400;
  padding: 10px 0px;
  text-align: center;
}

.thirdBlackSectionContainer .grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirdBlackSectionContainer .box {
  position: relative;
  width: 100%;
  height: 118px;
  max-width: 270px;
  border-radius: 10px;
  margin-top: 40px;
  background-color: red;
}

.thirdBlackSectionContainer .box2 {
  position: absolute;
  width: 100%;
  height: 118px;
  background-color: #fff;
  border-radius: 10px;
  top: 10px;
  left: 10px;
  z-index: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thirdBlackSectionContainer .box h4 {
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(93.36deg, #ff4359 -.32%, #ff8a25 100.53%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdBlackSectionContainer .box p {
  font-weight: 300;
  font-size: 14px;
  color: #000;
  margin-top: 10px;
}

.thirdBlackSectionContainer .hiden {
  display: none;
}

.thirdBlackSectionContainer .box1 {
  background: linear-gradient(104.04deg, #ff4359, #ff8a25);
}

.thirdBlackSectionContainer .box3 {
  background: linear-gradient(104deg, #ff8a25 0, #ffd75f);
}

.thirdBlackSectionContainer .box3 h4 {
  background: linear-gradient(90deg, #ff8a25 0, #ffd75f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdBlackSectionContainer .box4 {
  background: linear-gradient(104.04deg, #ffd75f, #d9ff43);
}

.thirdBlackSectionContainer .box4 h4 {
  background: linear-gradient(90deg, #ffd75f, #d9ff43);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdBlackSectionContainer .box5 {
  background: linear-gradient(104.04deg, #ff4359, #ff43ca);
}

.thirdBlackSectionContainer .box5 h4 {
  background: linear-gradient(104.04deg, #ff4359, #ff43ca);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdBlackSectionContainer .box6 {
  background: linear-gradient(104.04deg, #d9ff43, #00ecc2);
}

.thirdBlackSectionContainer .box6 h4 {
  background: linear-gradient(104.04deg, #d9ff43, #00ecc2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdBlackSectionContainer .box7 {
  background: linear-gradient(104.04deg, #ff43ca, #8a43ff);
}

.thirdBlackSectionContainer .box7 h4 {
  background: linear-gradient(104.04deg, #ff43ca, #8a43ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdBlackSectionContainer .box8 {
  background: linear-gradient(104.04deg, #8a43ff, #0078ff);
}

.thirdBlackSectionContainer .box8 h4 {
  background: linear-gradient(104.04deg, #8a43ff, #0078ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thirdBlackSectionContainer .box9 {
  background: linear-gradient(104.04deg, #0078ff, #00ecc2);
}

.thirdBlackSectionContainer .box9 h4 {
  background: linear-gradient(104.04deg, #0078ff, #00ecc2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .thirdBlackSectionContainer .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
  }

  .thirdBlackSectionContainer .grid .box {
    margin-top: 20px;
  }
}

/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .thirdBlackSectionContainer h1 {
    font-size: 42px;
  }
  
  .thirdBlackSectionContainer h5 {
    font-size: 20px;
  }

  .thirdBlackSectionContainer {
    margin-top: 120px;
    padding: 60px;
    padding-bottom: 120px;
    background-color: #000;
  }

  .thirdBlackSectionContainer .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
  }

  .thirdBlackSectionContainer .grid .hiden {
    display: block;
    background-color: #000;
  }
}