.transperencySection {
  padding: 30px;
  overflow: hidden;
}

.transperencySection h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: center;
}

.transperencySection h5 {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  padding: 10px 0px;
  text-align: center;
}

.transperencySection .inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.transperencySection .inputContainer button {
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #ff3950;
  padding: 0px 20px;
}

.transperencySection .inputContainer button:hover {
  background: #ff4359;
  cursor: pointer;
}

.transperencySection .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
  gap: 20px;
  margin-top: 40px;
  justify-items: center;
  align-items: center;
}

.transperencySection .card {
  margin-bottom: 30px;
  max-width: 300px;
}

.transperencySection .grid .box {
  background: linear-gradient(104.04deg, #ff8a25, #ffd75f);
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 200px;
  filter: drop-shadow(0 4px 25px rgba(0, 0, 0, .1));
}

.transperencySection .grid .box2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  left: 15px;
  top: 15px;
}

.transperencySection img {
  border-radius: 10px;
  object-fit: contain;
}

.transperencySection .grid h6 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.transperencySection .grid p {
  font-size: 14px;
  color: #404040;
}

.transperencySection .box3 {
  background: linear-gradient(104.04deg, #0078ff, #00ecc2) !important
}

.transperencySection .box4 {
  background: linear-gradient(104.55deg, #00ecc2, #ffd75f 104.82%) !important
}

.transperencySection .box5 {
  background: linear-gradient(113.6deg, #ff4359, #0078ff) !important
}


/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .transperencySection .card {
    margin-bottom: 0px;
  }

  .transperencySection .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .transperencySection {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .transperencySection h1 {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
  }

  .transperencySection h5 {
    font-size: 20px;
    text-align: center;
  }

  .transperencySection .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }

  .transperencySection .inputContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }

  .transperencySection .card {
    margin-bottom: 0px;
  }

  .transperencySection .inputContainer button {
    margin: 0px;
  }

  .transperencySection .card {
    max-width: 400px;
  }

  .transperencySection .grid .box {
    width: 400px;
    max-width: 400px;
  }

  .transperencySection .grid h6 {
    font-size: 22px;
  }

  .transperencySection .grid p {
    font-size: 18px;
  }
}