.aboutCreatosaurusContainer {
    margin-top: 120px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutCreatosaurusContainer .headerContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutCreatosaurusContainer .headerContainer span {
    color: #0060CC;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aboutCreatosaurusContainer .headerContainer h2 {
    margin-top: 10px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.66px;
}

.aboutCreatosaurusContainer .headerContainer p {
    margin-top: 15px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Video Section */
.aboutCreatosaurusContainer .video {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
}

.aboutCreatosaurusContainer .video .youtube {
    position: absolute;
    width: 50px;
}

@media screen and (max-width: 768px) {
    .aboutCreatosaurusContainer {
        padding: 0px 20px;
    }

    .aboutCreatosaurusContainer .headerContainer h2 {
        font-size: 30px;
    }

    .aboutCreatosaurusContainer .headerContainer p {
        font-size: 14px;
    }
}

@media screen and (max-width: 460px) {
    .aboutCreatosaurusContainer {
        padding: 0px 20px;
    }

    .aboutCreatosaurusContainer .headerContainer h2 {
        font-size: 30px;
    }

    .aboutCreatosaurusContainer .headerContainer p {
        font-size: 14px;
    }
}

@media screen and (max-width: 960px) {
    .aboutCreatosaurusContainer {
        padding: 0px 20px;
    }

    .aboutCreatosaurusContainer .headerContainer h2 {
        font-size: 30px;
    }

    .aboutCreatosaurusContainer .headerContainer p {
        font-size: 14px;
    }
}