.priceCutContainer {
    margin-top: 100px;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.priceCutContainer h2 {
    width: 80%;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
}

.priceCutContainer p {
    width: 65%;
    color: #404040;
    font-size: 18px;
}

.priceCutContainer .imageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    max-width: 850px;
    min-width: 670px;
}

.priceCutContainer .imageContainer .compitiar {
    position: absolute;
    top: 0px;
    max-width: 445px;
}

.priceCutContainer .imageContainer button {
    position: absolute;
    bottom: -10px;
    padding: 10px;
    width: 38%;
    border-radius: 5px;
    background: #FF4359;
    border: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #fff;
}

.priceCutContainer .mobile {
    display: none;
}

@media screen and (max-width: 960px) {
    .priceCutContainer {
        padding: 0px 20px;
    }

    .priceCutContainer h2 {
        width: 85%;
        font-size: 36px;
    }

    .priceCutContainer p {
        width: 70%;
        font-size: 16px;
    }

    .priceCutContainer .imageContainer button {
        padding: 10px 5px;
        font-size: 14px;
        min-width: 254px;
    }
}

@media screen and (max-width: 768px) {
    .priceCutContainer {
        margin-top: 50px;
    }

    .priceCutContainer h2 {
        width: 90%;
        font-size: 28px;
    }

    .priceCutContainer p {
        width: 80%;
        font-size: 14px;
    }
}

@media screen and (max-width: 715px) {
    .priceCutContainer .imageContainer {
        min-width: 0px;
    }
}

@media screen and (max-width: 600px) {
    .priceCutContainer .imageContainer button {
        position: absolute;
        bottom: -50px;
        width: 80%;
    }

    .priceCutContainer .laptop {
        display: none;
    }

    .priceCutContainer .mobile {
        display: unset;
    }
}


@media screen and (max-width: 480px) {
    .priceCutContainer h2 {
        width: 100%;
        font-size: 26px;
    }

    .priceCutContainer p {
        width: 90%;
        margin-top: 10px;
    }
}