.trustedContainer {
    margin-top: 90px;
    padding: 0px 80px;
    text-align: center;
    overflow: hidden;
}

.trustedContainer h2 {
    font-size: 24px;
    font-weight: 600;
}

.trustedContainer .creator {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.trustedContainer .creator1 {
    display: none;
}

.trustedContainer .creator span {
    font-weight: 700;
    color: #C4C4C4;
    font-size: 36px;
}

@media screen and (max-width: 1200px) {
    .trustedContainer .creator span {
        font-size: 30px;
    }
}

@media screen and (max-width: 960px) {
    .trustedContainer {
        padding: 0px 20px;
        margin-top: 40px;
    }

    .trustedContainer h2 {
        font-size: 24px;
    }

    .trustedContainer .creator span {
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .trustedContainer .creator {
        display: none;
    }

    .trustedContainer h2 {
        font-size: 20px;
    }

    .trustedContainer .creator1 {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .trustedContainer .creator1 span {
        font-weight: 700;
        color: #C4C4C4;
        font-size: 24px;
    }
}

@media screen and (max-width: 400px) {
    .trustedContainer h2 {
        font-size: 18px;
    }

    .trustedContainer .creator1 span {
        font-size: 20px;
    }
}