.moreSectionContainer {
    margin-top: 100px;
    padding: 0px 80px;
}

.moreSectionContainer h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
}

.moreSectionContainer .imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    row-gap: 50px;
    margin-top: 50px;
}

.moreSectionContainer .imageGrid .imageWrapper {
    width: 100%;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

@media screen and (max-width: 960px) {
    .moreSectionContainer {
        padding: 0px 20px;
    }

    .moreSectionContainer h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .moreSectionContainer h2 {
        font-size: 26px;
    }

    .moreSectionContainer .imageGrid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .moreSectionContainer .imageGrid .imageWrapper {
        padding: 20px;
    }
}