.statisticsSectionContainer {
    margin-top: 70px;
    padding: 0px 80px;
}


.statisticsSectionContainer .imageContainer {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #FFF;
    border: 50px solid rgba(138, 67, 255, 0.10);
    padding: 62px;
}

.statisticsSectionContainer .statisticsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.statisticsSectionContainer .statisticsContainer .statsCard {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 50px;
    width: 400px;
    height: auto;
    border-radius: 15px;
    background: rgba(138, 67, 255, 0.10);
}

.statisticsSectionContainer .statisticsContainer .statsCard h2 {
    color: #8A43FF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.statisticsSectionContainer .statisticsContainer .statsCard span {
    color: #8A43FF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.27px;
}


@media screen and (max-width: 1200px) {

    .statisticsSectionContainer {
        padding: 0px 20px;
    }

    .statisticsSectionContainer .imageContainer {
        padding: 30px;
        border: 30px solid rgba(138, 67, 255, 0.10);
    }

    .statisticsSectionContainer .statisticsContainer {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 960px) {
    .statisticsSectionContainer {
        padding: 0px 20px;
    }

    .statisticsSectionContainer .imageContainer {
        padding: 30px;
        border: 30px solid rgba(138, 67, 255, 0.10);
    }

    .statisticsSectionContainer .statisticsContainer {
        flex-direction: column;
        gap: 20px;
    }

    .statisticsSectionContainer .statisticsContainer .statsCard {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .statisticsSectionContainer {
        padding: 0px 20px;
    }

    .statisticsSectionContainer .imageContainer {
        padding: 30px;
        border: 30px solid rgba(138, 67, 255, 0.10);
    }

    .statisticsSectionContainer .statisticsContainer {
        flex-direction: column;
        gap: 20px;
    }

    .statisticsSectionContainer .statisticsContainer .statsCard {
        width: 100%;
    }

}

@media screen and (max-width: 460px) {

    .statisticsSectionContainer {
        padding: 0px 20px;
    }

    .statisticsSectionContainer .imageContainer {
        padding: 30px;
        border: 30px solid rgba(138, 67, 255, 0.10);
    }

    .statisticsSectionContainer .statisticsContainer {
        flex-direction: column;
        gap: 20px;
    }

    .statisticsSectionContainer .statisticsContainer .statsCard {
        width: 100%;
    }

}