.faqSectionContainer {
    margin-top: 100px;
    padding: 0px 80px;
}

.faqSectionContainer h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.66px;
    text-align: center;
}

.faqSectionContainer p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.faqSectionContainer .card {
    border-radius: 10px;
    background: rgba(248, 248, 249, 0.80);
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.faqSectionContainer .card .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.faqSectionContainer .card .svgWrapper {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqSectionContainer .card .ans {
    font-size: 20px;
}

@media screen and (max-width: 960px) {
    .faqSectionContainer {
        padding: 0px 20px;
    }

    .faqSectionContainer h2 {
        font-size: 36px;
    }

    .faqSectionContainer p {
        font-size: 16px;
    }

    .faqSectionContainer .card .row {
        font-size: 18px;
    }

    .faqSectionContainer .card .ans {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .faqSectionContainer h2 {
        font-size: 26px;
    }

    .faqSectionContainer p {
        font-size: 14px;
    }

    .faqSectionContainer .card .row {
        font-size: 16px;
    }

    .faqSectionContainer .card .ans {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .faqSectionContainer .card .row {
        font-size: 14px;
    }

    .faqSectionContainer .card .ans {
        font-size: 14px;
        margin-top: 10px;
    }
}