.heroSectionContainer {
    margin-top: 120px;
    padding: 0px 80px;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    gap: 80px;
}

.heroSectionContainer .leftSideBar .subHead {
    color: #0060CC;
    font-size: 18px;
    font-weight: 600;
}

.heroSectionContainer .leftSideBar h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.66px;
}

.heroSectionContainer .leftSideBar p {
    margin-top: 15px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}

.heroSectionContainer .leftSideBar .mainButton {
    margin-top: 20px;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    background: #FF4359;
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #FFF;
    cursor: pointer;
}

.heroSectionContainer .leftSideBar .placeHolder {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.heroSectionContainer .leftSideBar .placeHolder .item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

@media screen and (max-width: 1200px) {
    .heroSectionContainer {
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 960px) {
    .heroSectionContainer {
        padding: 0px 20px;
        margin-top: 90px;
    }

    .heroSectionContainer .leftSideBar .subHead {
        font-size: 14px;
    }

    .heroSectionContainer .leftSideBar h1 {
        font-size: 36px;
    }

    .heroSectionContainer .leftSideBar .mainButton {
        font-size: 16px;
    }

    .heroSectionContainer .leftSideBar .placeHolder {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .heroSectionContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .heroSectionContainer .leftSideBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: auto;
        text-align: center;
    }

    .heroSectionContainer .leftSideBar .mainButton {
        width: 80%;
    }
}

@media screen and (max-width: 460px) {

    .heroSectionContainer .leftSideBar .mainButton {
        width: 100%;
    }
}

/* Video Section */
.heroSectionContainer .rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}



@media screen and (max-width: 1200px) {
    .heroSectionContainer .rightSide {
        margin-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    .heroSectionContainer .rightSide {
        margin-left: 0px;
        margin-top: 30px;
    }
}