.contrastCheckerContainerScroll {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.contrastCheckerContainerScroll::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: transparent;
    border-radius: 10px;
    overflow: visible;
}

.contrastCheckerContainerScroll::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 100px;
}

.contrastCheckerContainer {
    width: 100vw;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.contrastCheckerContainer .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contrastCheckerContainer .head svg {
    width: 25px;
    height: 25px;
}

.contrastCheckerContainer .head h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.contrastCheckerContainer .head p {
    margin-top: 20px;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.contrastCheckerContainer .contrastGenerator {
    width: 100%;
    max-width: 960px;
    align-self: center;
    background-color: #fff;
    margin-top: 45px;
    display: flex;
    position: relative;
}

.contrastCheckerContainer .contrastGenerator .contrastWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #DCDCDC;
    border-radius: 25px;
    display: flex;
}

.contrastCheckerContainer .contrastGenerator .leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #FAFAFA;
    border-radius: 25px 0px 0px 25px;
    padding: 40px 20px;
}

.contrastCheckerContainer .contrastGenerator .leftSide h2 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.contrastCheckerContainer .contrastGenerator .leftSide .row {
    margin-top: 30px;
    position: relative;
}

.contrastCheckerContainer .contrastGenerator .leftSide .row .colorPicker {
    position: absolute;
    z-index: 10;
    right: -112px;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
}

.contrastCheckerContainer .contrastGenerator .leftSide .row .contrastChecker {
    position: absolute;
    z-index: 10;
    right: -112px;
}

.contrastCheckerContainer .contrastGenerator .leftSide .row label {
    font-size: 14px;
    font-weight: 600;
}

.contrastCheckerContainer .contrastGenerator .leftSide .row .wrapper {
    position: relative;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.contrastCheckerContainer .contrastGenerator .leftSide .row input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.contrastCheckerContainer .contrastGenerator .leftSide .row span {
    display: block;
    position: absolute;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    right: 10px;
    border: 1px solid #DCDCDC;
    background-color: red;
}

.contrastCheckerContainer .contrastGenerator .leftSide .ratioRow {
    margin-top: 30px;
}

.contrastCheckerContainer .contrastGenerator .leftSide .ratioRow .title {
    font-size: 14px;
    font-weight: 600;
}

.contrastCheckerContainer .contrastGenerator .leftSide .ratioRow .card {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    border: 1px solid #DCDCDC;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.contrastCheckerContainer .contrastGenerator .leftSide .ratioRow .card div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contrastCheckerContainer .contrastGenerator .leftSide .ratioRow .card span {
    margin-left: 5px;
    font-size: 8px;
}

.contrastCheckerContainer .contrastGenerator .leftSide p {
    margin-top: 30px;
    font-size: 12px;
    color: #808080;
}

.contrastCheckerContainer .contrastGenerator .leftSide p a {
    text-decoration: none;
    color: #0078FF;
}

.contrastCheckerContainer .contrastGenerator .leftSide p a:hover {
    text-decoration: underline;
}

.contrastCheckerContainer .contrastGenerator .leftSide .poweredBy {
    margin-top: 15px;
    font-size: 10px;
    color: #808080;
}

.contrastCheckerContainer .contrastGenerator .leftSide .poweredBy a {
    text-decoration: none;
    color: #808080;
}

.contrastCheckerContainer .contrastGenerator .leftSide .poweredBy a:hover {
    color: #0078FF;
    text-decoration: underline;
}

.contrastCheckerContainer .contrastGenerator .rightSide {
    padding-top: 55px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
}

.contrastCheckerContainer .contrastGenerator .rightSide .quote {
    width: 100%;
    max-width: 507px;
    height: 435px;
    border-radius: 10px;
    background-color: #6AFFED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contrastCheckerContainer .contrastGenerator .rightSide .quote span {
    font-size: 36px;
}

.contrastCheckerContainer .contrastGenerator .rightSide .quote p {
    font-size: 16px;
    margin: 25px 0px;
    width: 376px;
}

.contrastCheckerContainer .contrastGenerator .rightSide .quote span:nth-child(3) {
    font-size: 16px;
    font-weight: 600;
}

.contrastCheckerContainer .contrastGenerator .rightSide a {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0078FF;
}

.contrastCheckerContainer .contrastGenerator .rightSide a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1100px) {
    .contrastCheckerContainer .contrastGenerator .contrastWrapper {
        display: flex;
        flex-direction: column;
    }

    .contrastCheckerContainer .contrastGenerator .rightSide {
        padding: 40px 40px;
    }

    .contrastCheckerContainer .contrastGenerator .leftSide {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0px;
        padding: 40px 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .contrastCheckerContainer .contrastGenerator .rightSide .quote p {
        width: 100%;
        padding: 0px 20px;
    }

    .contrastCheckerContainer .contrastGenerator .rightSide .quote {
        max-width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .contrastCheckerContainer {
        padding: 0px 20px;
    }

    .contrastCheckerContainer .head h1 {
        font-size: 26px;
        width: 100%;
    }

    .contrastCheckerContainer .head p {
        font-size: 16px;
        width: 100%;
    }
}