.aboutContainer .headContainer {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.aboutContainer .headContainer h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.aboutContainer .headContainer h6 {
  font-size: 16px;
  color: #404040;
  font-weight: 400;
  padding: 10px 0px;
}

.aboutContainer .headContainer button {
  width: 235px;
  height: 45px;
  background: #ff4359;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.aboutContainer .headContainer button:hover {
  background: #ff3950;
}

/* Info Container started */
.aboutContainer .info {
  margin-top: 30px;
  padding: 0px 30px;
}

.aboutContainer .info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.aboutContainer .info h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.aboutContainer .decorationContainer {
  background-color: #000;
  margin-top: 30px;
  padding: 0px 30px;
  color: #fff;
  padding: 30px;
}

.aboutContainer .decorationContainer h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.aboutContainer .decorationContainer .decoration {
  margin-bottom: 0px;
  background: linear-gradient(90deg, #0078ff 0, #00ecc2 24%, #ffd75f 50%, #ff8a25 75%, #ff4359);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Black box started */
.aboutContainer .blackBox {
  background-color: #000;
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.aboutContainer .blackBox h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.aboutContainer .blackBox button {
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
}

.aboutContainer .blackBox button:hover {
  background: #ff3950;
}

.aboutContainer .footer {
  display: flex;
  flex-direction: column;
}

.aboutContainer .footer span {
  font-size: 14px;
}


/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .aboutContainer .headContainer h1 {
    font-size: 42px;
    font-weight: 700;
  }

  .aboutContainer .info p {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .aboutContainer .footer span {
    font-size: 16px;
  }

  .aboutContainer .info h5 {
    font-size: 18px;
  }

  .aboutContainer .decorationContainer h4 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .aboutContainer .blackBox h4 {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .aboutContainer .blackBox button {
    padding: 12px 22px;
  }
}

/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .aboutContainer .info p {
    margin-bottom: 15px;
  }

  .aboutContainer .headContainer {
    margin-top: 160px;
    padding: 0px 80px;
  }

  .aboutContainer .headContainer h1 {
    font-size: 72px;
  }

  .aboutContainer .headContainer h6 {
    font-size: 20px;
    padding: 20px 0px;
  }

  .aboutContainer .headContainer button {
    margin-top: 30px;
  }

  .aboutContainer .info {
    width: 80%;
    margin: auto;
    margin-top: 80px;
  }

  .aboutContainer .decorationContainer {
    padding: 80px 80px;
  }

  .aboutContainer .blackBox {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 80px;
  }

  .aboutContainer .blackBox h4 {
    font-size: 48px;
    width: 60%;
  }

  .aboutContainer .blackBox button {
    margin-right: 100px;
    padding: 15px 30px;
    font-size: 18px;
  }

  .aboutContainer .info p {
    font-size: 18px;
  }

  .aboutContainer .info h5 {
    font-size: 20px;
  }

  .aboutContainer .decorationContainer h4 {
    font-size: 48px;
    width: 60%;
  }

  .aboutContainer .footer span {
    font-size: 18px;
  }
}