.articleByCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 50%;
    height: auto;
    background: #FAFAFA;
    padding: 25px 30px 25px 30px;
    text-align: justify;
    gap: 30px;
    border-radius: 10px;
}

.articleByCard .profileImage {
   width: 100%;
   height: 100%;
   max-width: 200px;
   max-height: 200px;
}

.articleByCard .profileImage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.articleByCard .profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}


.articleByCard .profileInfo span {
    color: #404040;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

.articleByCard .profileInfo .h5 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    text-decoration: none;
}

.articleByCard .profileInfo .h5:hover {
    color: blue;
    text-decoration: underline;
}

.articleByCard .profileInfo .bio {
    margin-top: 5px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.35px;
    text-transform: capitalize;
    text-align: left;
}

.articleByCard .profileInfo .socialMedia {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

.articleByCard .profileInfo .socialMedia svg:hover path {
    fill: #000;
}

@media screen and (max-width: 600px) {
    .articleByCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .articleByCard .profileImage {
        width: 100%;
        height: auto;
    }

    .articleByCard .profileInfo {
        width: 100%;
    }
}