.contactContainer {
  padding: 0px 30px;
  margin-top: 100px;
}

.contactContainer .head {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.contactContainer .head h4 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.contactContainer .head h6 {
  font-size: 16px;
  font-weight: 400;
}

.contactContainer .head input {
  background: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-top: 50px;
  width: 100%;
  max-width: 432px;
}

.contactContainer .head textarea {
  height: 150px;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  width: 100%;
  max-width: 432px;
}

.contactContainer .head button {
  margin-top: 30px;
  background: #FF4359;
  border-radius: 5px;
  height: 50px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  max-width: 432px;
  cursor: pointer;
}

.contactContainer .head button:hover {
  background: #ff3950;
}

.contactContainer .head .help {
  font-size: 12px;
  color: #404040;
  margin-top: 10px;
}

.contactContainer .head .help span {
  font-weight: 500;
  color: #000000;
}

/* Info container */
.contactContainer .info {
  margin-top: 50px;
}

.contactContainer .info p {
  margin-bottom: 15px;
  font-size: 14px;
}

/* Black box started */
.contactContainer .blackBox {
  background-color: #000;
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  margin-top: 30px;
}

.contactContainer .blackBox h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.contactContainer .blackBox button {
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 15px;
}

.contactContainer .blackBox button:hover {
  background: #ff3950;
  cursor: pointer;
}


@media screen and (min-width: 620px) {
  .contactContainer .info p {
    font-size: 16px;
  }

  .contactContainer .blackBox h4 {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .contactContainer .blackBox button {
    padding: 12px 22px;
  }
}

/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .contactContainer {
    padding: 0px 80px;
    margin-top: 120px;
  }

  .contactContainer .info p {
    font-size: 18px;
  }

  .contactContainer .info h4 {
    font-size: 22px;
  }

  .contactContainer .blackBox {
    margin: 0px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  .contactContainer .blackBox h4 {
    font-size: 48px;
    width: 60%;
  }

  .contactContainer .blackBox button {
    margin-right: 100px;
    padding: 15px 30px;
    font-size: 18px;
  }
}