.exitIntentContainer {
    height: 100vh !important;
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999999999999;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.exitIntentContainer .card {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exitIntentContainer .card .infoContainer {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.exitIntentContainer .card .infoContainer .title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #808080;
}

.exitIntentContainer .card .infoContainer .subTitle {
    font-weight: 700;
    font-size: 40px;
    margin-top: 5px;
    letter-spacing: 0.02em;
}

.exitIntentContainer .card .infoContainer .info {
    letter-spacing: 0.02em;
    font-size: 16px;
    margin-top: 5px;
}

.exitIntentContainer .card .infoContainer input {
    padding: 10px 20px;
    border: 1px solid #808080;
    border-radius: 5px;
    letter-spacing: 0.02em;
    margin-top: 25px;
}

.exitIntentContainer .card .infoContainer button {
    width: 55%;
    height: 50px;
    background: #FF4359;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.exitIntentContainer .card .infoContainer button svg {
    margin-left: 10px;
}

.exitIntentContainer .card .infoContainer .ratingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exitIntentContainer .card .infoContainer .ratingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    max-width: 70px;
}

.exitIntentContainer .card .infoContainer .ratingContainer h4 {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
}

.exitIntentContainer .card .infoContainer .ratingContainer .logo {
    margin-top: 5px;
}

.exitIntentContainer .imageContainer {
    width: 400px;
    max-width: 400px;
    height: auto;
    background-color: #ff6a7c;
}