
.accordionItem{
  width: 80%;
  max-width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Expandle faq */
.accordionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  background: white;
  border-radius: 10px;
  padding: 20px 0;
  align-items: center;
}

.accordionTitle:hover {
  background: rgba(248, 248, 249, 0.5);
}

.accordionTitle {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.02em;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.accordionContent {
  width: 100%;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  padding: 0;
  background: rgba(248, 248, 249, 0.5);
}
.accordionContent p{
  font-size: 18px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 30px;
  padding-left: 25px;
  padding-right: 147px;
}

.isActive {
  color: #808080;
  font-weight: lighter;
  font-size: 30px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .accordionItem{
    width: 100%;
    max-width: 100%;
  }
  .accordionContent p{
    padding-right: 25px;
  }
}
