@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::selection {
  background-color: #ff4359;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', 'Times New Roman', sans-serif;
  font-display: swap;
}

@font-face {
  font-family: "Times New Roman";
  src: local("Times New Roman");
  ascent-override: 105%;
  descent-override: 35%;
  line-gap-override: 10%;
}

#credential_picker_container {
  top: 0px !important;
  right: 0px !important
}

textarea {
  font-family: 'Poppins', sans-serif;
  font-display: swap;
}

input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-display: swap;
}

button {
  font-family: 'Poppins', sans-serif;
  font-display: swap;
}

textarea:focus {
  outline: none;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

#credential_picker_container {
  top: 60px !important;
}

#loading-auth-box {
  position: absolute;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.customScrollBar::-webkit-scrollbar {
  display: block;
  width: 6px;
  background-color: transparent;
  border-radius: 10px;
}

.customScrollBar:hover::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 100px;
}

.loader {
  display: block;
  border: 3px solid #f3f3f3;
  /* Light grey */
  border-top: 3px solid #ff4359;
  /* Blue */
  height: 20px;
  min-height: 20px;
  width: 20px;
  min-width: 20px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Blog styles */
.tools-links {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.tools-links a {
  border: 1px solid #dcdcdc;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.tools-links a:hover {
  border-color: #0078FF;
  color: #0078FF;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .tools-links a {
    font-size: 14px;
  }
}

.chrome-picker {
  box-shadow: none !important;
}