.mainQuoteContainer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
  height: fit-content;
}

.mainQuoteContainer .headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.mainQuoteContainer .headerContainer span {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
}

.mainQuoteContainer .headerContainer .inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53%;
  border-radius: 5px;
  border: 3px solid #FFD75F;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  padding: 5px;
}

.mainQuoteContainer .headerContainer .inputContainer input[type="search"] {
  flex: 1;
  border: none;
  outline: none;
}

.mainQuoteContainer .headerContainer .inputContainer svg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  margin-bottom: 5px;
}


.mainQuoteContainer .headerContainer .bannerContainer {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainQuoteContainer .headerContainer .goto {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.mainQuoteContainer .headerContainer .goto a {
  color: #0078FF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  cursor: pointer;
  text-decoration: none;
}

.mainQuoteContainer .headerContainer .goto svg {
  cursor: pointer;
}

.mainQuoteContainer .appInfoContainer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 87px;
  width: 95%;

}


.mainQuoteContainer .appInfoContainer .appInfo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 30px;
}

.mainQuoteContainer .appInfoContainer .appInfo h1 {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mainQuoteContainer .appInfoContainer .appInfo p {
  color: #404040;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}


.mainQuoteContainer .appInfoContainer .appInfo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 256px;
  height: 40px;
  padding: 10px;
  border-radius: 33px;
  background: linear-gradient(135deg, #FF8A25 0%, #FFD75F 100%);
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
  cursor: pointer;
  text-decoration: none;
}

.mainQuoteContainer .appInfoContainer .appInfo .founderMessage {
  display: flex;
  justify-content: left;
}

.mainQuoteContainer .appInfoContainer .appInfo .founderMessage p {
  color: #404040;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px;
}

.mainQuoteContainer .appInfoContainer .appInfo .founderInfo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
}

.mainQuoteContainer .appInfoContainer .appInfo .founderInfo .leftSide .founderImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}


.mainQuoteContainer .appInfoContainer .appInfo .founderInfo .rightSide {
  display: flex;
  flex-direction: column;
}

.mainQuoteContainer .appInfoContainer .appInfo .founderInfo .rightSide span {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.mainQuoteContainer .appInfoContainer .appInfo .founderInfo .rightSide p {
  color: #404040;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.28px;
}


.mainQuoteContainer .appInfoContainer .appBanner {
  width: 100%;
  height: 100%;
}


.mainQuoteContainer .quoteOfDayContainer {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 67%;
}

.mainQuoteContainer .quoteOfDayContainer .ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainQuoteContainer .quoteOfDayContainer p {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.mainQuoteContainer .quoteOfDayContainer .goto {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.mainQuoteContainer .quoteOfDayContainer .goto a {
  color: #0078FF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  cursor: pointer;
  text-decoration: none;
}

.mainQuoteContainer .quoteOfDayContainer .goto span {
  color: #0078FF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  cursor: pointer;
}

.mainQuoteContainer .quoteOfDayContainer .goto svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.mainQuoteContainer .quotesTypeContainer {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 130px;
}

.mainQuoteContainer .quotesTypeContainer .quotesType {
  display: flex;
  flex-direction: column;
  width: 96%;
}

.mainQuoteContainer .quotesTypeContainer .quotesType .quotesHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mainQuoteContainer .quotesTypeContainer .quotesType .quotesHeader h1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
}


.mainQuoteContainer .quotesTypeContainer .quotesType .quotesHeader button {
  display: flex;
  width: 99px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 33px;
  background: linear-gradient(135deg, #FF8A25 0%, #FFD75F 100%);
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
}


.mainQuoteContainer .quotesTypeContainer .quotesType .typeGridContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 23px;
  width: 100%;
  max-width: 100%;
}


.mainQuoteContainer .quotesTypeContainer .quotesType .typeGridContainer .gridItem {
  text-align: left;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainQuoteContainer .quotesTypeContainer .quotesType .typeGridContainer .gridItem span {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  cursor: pointer;
}

.signUpBoxContainer {
  margin-top: 130px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #000;
  padding: 128px 84px;
}

.signUpBoxContainer p {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  width: 60%;
  line-height: 1.2;
}

.signUpBoxContainer button {
  width: 184px;
  height: 50px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  border-radius: 5px;
  background: #ff4359;
  border: none;
  cursor: pointer;
}


.searchContainerCenter {
  height: calc(100vh - 90px);
  background-color: #ffffff;
  border-top-left-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: scroll;
  padding-bottom: 0px;
}

.searchContainerCenter .inputContainer {
  width: 60%;
  height: 50px;
  position: relative;
  align-self: center;
  margin-bottom: 10px;
}

.searchContainerCenter .inputContainer input {
  border: 3px solid #ffd75f;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 0px 30px;
}

.searchContainerCenter .inputContainer img {
  position: absolute;
  left: 7px;
  top: 10px;
}

.searchContainerCenter .card {
  background: rgba(248, 248, 249, 0.9);
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.searchContainerCenter .card:hover {
  background: rgba(255, 215, 95, 0.05);
}

.searchContainerCenter .card .authorContainer {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.searchContainerCenter .functions {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 98%;
  background: rgba(248, 248, 249, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchContainerCenter .functions .img1 {
  cursor: pointer;
  margin: 0px 10px;
}

.searchContainerCenter .functions .img2 {
  cursor: pointer;
  margin-top: 5px;
}

.searchContainerCenter .card span {
  font-size: 12px;
  color: #404040;
  width: 150px;
}

.searchQuote {
  width: 90%;
}

@media (max-width: 480px) {

  .mainQuoteContainer .headerContainer .inputContainer {
    width: 100%;
  }

  .mainQuoteContainer .appInfoContainer {
    flex-direction: column;
  }

  .mainQuoteContainer .quotesTypeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainQuoteContainer .quotesTypeContainer .quotesType .typeGridContainer .gridItem {
    text-align: center;
  }

  .mainQuoteContainer .quotesTypeContainer .quotesType .quotesHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .signUpBoxContainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #000;
    padding: 128px 84px;
    gap: 30px;
  }

  .signUpBoxContainer p {
    width: 100%;
    font-size: 30px;

  }
}