.headingButton {
  margin-top: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 41px;
  background: linear-gradient(94.22deg, #ff8a25 0%, #ffd75f 100%);
  border-radius: 33px;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.headingButton button svg {
  margin-left: 11px;
}

.fifthBlackSection {
  margin: 100px;
  height: 400px;
  background: #000000;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

.fifthBlackSection h1 {
  font-weight: bold;
  font-size: 48px;
}

.fifthBlackSection button {
  width: 184px;
  height: 50px;
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quotesContainer {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.quotesContainer h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.quotesContainer span {
  margin-top: 50px;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.quotesContainer h2 {
  margin-top: 50px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0078ff;
}
