.relatedArticleCard {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background-color: #FFFFFF;
    color: #000000;
    width: 600px;
    height: 200px;
    padding: 0px;
    cursor: pointer;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.relatedArticleCard .blogImage {
    width: 50%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.relatedArticleCard .blogImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* or object-fit: contain; */
}

.relatedArticleCard .blogInfo {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.relatedArticleCard .blogInfo .title {
    margin-bottom: 10px;
}

.relatedArticleCard .blogInfo .title h1 {
    font-size: 20px;
    font-weight: 600;
}

.relatedArticleCard .blogInfo .info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.relatedArticleCard .blogInfo .info span {
    font-size: 12px;
    font-weight: normal;
}

.relatedArticleCard:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

@media screen and (max-width: 768px) {
    .relatedArticleCard {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .relatedArticleCard .blogImage,
    .relatedArticleCard .blogInfo {
        width: 100%;
    }

    .relatedArticleCard .blogInfo {
        padding: 20px;
    }
}