.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.mainContainer::-webkit-scrollbar {
  display: block;
  width: 6px;
  background-color: transparent;
  border-radius: 10px;
}

.mainContainer:hover::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 100px;
}

.mainContainer .articleByContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContainer::-webkit-scrollbar {
  overflow: visible;
}

.mainContainer .blogContainer {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.dividerContainer {
  margin-top: 80px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.divider {
  width: 100%;
  height: 0.5px;
  background: #C4C4C4;
}


.blogContainer .postContainer {
  width: 54%;
  padding-top: 100px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 30px;
}



.blogContainer .blogInfoContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 3%;
  padding-top: 100px;
}

/* Container for the content */
.blogContainer .contentContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 3%;
  padding-top: 100px;
}

.blogContainer .contentContainer .contentNavTitle {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.35px;
  padding: 5px 20px 5px 20px;
}

.blogContainer .contentContainer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blogContainer .contentContainer ul li {
  list-style: none;
  padding: 5px 20px 5px 20px;
}

.blogContainer .contentContainer ul li a {
  text-decoration: none;
  color: #404040;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.35px;
  cursor: pointer;
}

.blogContainer .contentContainer ul li:hover {
  border-radius: 5px;
  background: rgba(0, 120, 255, 0.10);
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  color: #000000;
}

.blogContainer .contentContainer ul .active {
  border-radius: 5px;
  background: rgba(0, 120, 255, 0.10);
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

.blogContainer .contentContainer ul a {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}


/* Post container title, feature image and main blog */


.blogContainer .postContainer .postHeader {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogContainer .postContainer .postHeader svg {
  margin: auto;
  margin-bottom: -5px;
}

.blogContainer .postContainer .postHeader .mainTag {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #404040;
  font-weight: 600;
  text-decoration: none;
  align-self: center;
}

.blogContainer .postContainer .postHeader .mainTag:hover {
  color: blue;
  text-decoration: underline;
}

.blogContainer .postContainer .postHeader h1 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 1.2px;
  text-align: center;
}

.blogContainer .postContainer .postHeader p {
  color: #404040;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.200px;
  text-align: center;
}

.blogContainer .postContainer .postHeader .featureImage {
  margin-top: 20px;
  width: 100%;
  height: auto;
  position: absolute;
  top: -10000px;
}

.blogContainer .postContainer .postHeader .featureImage img {
  object-fit: contain;
}

.blogContainer .postContainer .postHeader .postInfo {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.blogContainer .postContainer .postHeader .postInfo a {
  font-size: 14px;
  margin-left: 4px;
  color: #404040;
  text-decoration: none;
}

.blogContainer .postContainer .postHeader .postInfo a:hover {
  color: rgb(0, 0, 255);
  text-decoration: underline;
}

.blogContainer .postContainer .postHeader .postInfo div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogContainer .postContainer .postHeader .postInfo div svg {
  margin: 0px !important;
  margin-left: 10px !important;
  margin-right: 5px !important;
  height: 18px !important;
  width: 18px !important;
}

.blogContainer .postContainer .postHeader .postInfo span {
  color: #404040;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.35px;
}


.blogContainer .postContainer .post p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.200px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}


.blogContainer .postContainer .post a {
  text-decoration: none;
}

.blogContainer .postContainer .post a:hover {
  text-decoration: underline;
}


.blogContainer .postContainer .post h2 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.75px;
  margin-top: 35px;
}

.blogContainer .postContainer .post h3 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.55px;
  margin-top: 35px;
}

.blogContainer .postContainer .post figcaption {
  display: none;
}

.blogContainer .postContainer .post figure iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
}


.blogContainer .postContainer .post figure img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.blogContainer .postContainer .post figure video {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.blogContainer .postContainer .post ul {
  padding-left: 15px;
  padding-right: 15px;
}

.blogContainer .postContainer .post ul li {
  padding: 10px 5px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.200px;
  text-align: left;
}

.blogContainer .postContainer .post ol {
  padding-left: 15px;
  padding-right: 15px;
}

.blogContainer .postContainer .post ol li {
  padding: 10px 5px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.200px;
  text-align: left;
}

.relatedArticlesContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.relatedArticlesContainer span {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 80px;
}

.relatedArticlesContainer .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.relatedArticlesContainer .articles .blogCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.relatedArticlesContainer .articles .blogCard .imageContainer {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.relatedArticlesContainer .articles .blogCard .imageContainer:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.relatedArticlesContainer .articles .blogCard .tag {
  display: inline;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #ff43ca;
  background: rgba(255, 67, 202, 0.1);
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
}

.relatedArticlesContainer .articles .blogCard h2 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.025em;
  color: #000000;
  cursor: pointer;
  margin-bottom: 3px;
}

.relatedArticlesContainer .articles .blogCard h2:hover {
  text-decoration: underline;
  text-decoration-color: #ff4359;
  cursor: pointer;
}

.relatedArticlesContainer .articles .blogCard p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  height: 54px;
  overflow: hidden;
}

.relatedArticlesContainer .articles .blogCard .publishInfo {
  margin-top: 15px;
}

.relatedArticlesContainer .articles .blogCard .publishInfo span {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #404040;
}

.relatedArticlesContainer .articles .blogCard .publishInfo span:nth-child(1) {
  margin-right: 30px;
}

.relatedArticlesContainer .articles .blogCard .publishInfo .author:hover {
  color: #000000;
}




/* Blog info container author info newsletter */
.blogContainer .blogInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blogContainer .blogInfoContainer .authorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogContainer .blogInfoContainer .authorContainer .authorImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blogContainer .blogInfoContainer .authorContainer h2 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
}

.blogContainer .blogInfoContainer .authorContainer p {
  color: #404040;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.blogContainer .blogInfoContainer .shareContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogContainer .blogInfoContainer .shareContainer h2 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.35px;
}

.blogContainer .blogInfoContainer .shareContainer .socialMediaContainer {
  display: flex;
  gap: 15px;
}

.blogContainer .blogInfoContainer .shareContainer .socialMediaContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f9;
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.blogContainer .blogInfoContainer .shareContainer .socialMediaContainer button:nth-child(1):hover {
  background: #19a6ff;
}

.blogContainer .blogInfoContainer .shareContainer .socialMediaContainer button:nth-child(1):hover svg path {
  fill: #FFFFFF;
}


.blogContainer .blogInfoContainer .shareContainer .socialMediaContainer button:nth-child(2):hover {
  background: #0177B5;
}

.blogContainer .blogInfoContainer .shareContainer .socialMediaContainer button:nth-child(2):hover svg path {
  fill: #FFFFFF;
}

.blogContainer .blogInfoContainer .shareContainer .socialMediaContainer button:nth-child(3):hover {
  background: #1877F2;
}

.blogContainer .blogInfoContainer .shareContainer .socialMediaContainer button:nth-child(3):hover svg path {
  fill: #FFFFFF;
}


.mainContainer .blackSectionContainer {
  margin-top: 100px;
  margin-bottom: 0px;
}


@media screen and (max-width: 1000px) {
  .blogContainer .postContainer {
    width: 100%;
  }

  .blogContainer .contentContainer {
    display: none;
  }

  .blogContainer .blogInfoContainer {
    display: none;
  }

  .relatedArticlesContainer {
    width: 100%;
  }

  .relatedArticlesContainer .articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mainContainer .articleByContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 626px) {
  .mainContainer .blogContainer {
    padding: 12px;
  }

  .blogContainer .postContainer .postHeader h1 {
    color: #000;
    font-size: 28px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .blogContainer .postContainer .postHeader .postInfo {
    gap: 10px;
  }

  .blogContainer .postContainer .postHeader .postInfo button {
    border-radius: 10px;
    font-size: 10px;
    padding: 3px 8px 3px 8px;
  }

  .blogContainer .postContainer .postHeader .postInfo span {
    font-size: 10px;
  }

  .blogContainer .postContainer .postHeader p {
    font-size: 14px;
  }

  .blogContainer .postContainer .post p {
    font-size: 14px;
  }


  .blogContainer .postContainer .post h2 {
    font-size: 22px;
  }

  .blogContainer .postContainer .post h3 {
    font-size: 18px;
  }

  .blogContainer .postContainer .post strong {
    font-size: 16px;
  }


  .blogContainer .contentContainer ul li {
    font-size: 14px;
  }

  .blogContainer .postContainer .post ul li {
    font-size: 14px;
  }

  .blogContainer .postContainer .post ol li {
    font-size: 14px;
  }

  .mainContainer .articleByContainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .blogContainer .postContainer .postHeader .mainTag {
    font-size: 14px;
  }
}