.waitListContainer {
    margin-top: 70px;
    background-color: #fff;
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.waitListContainer .card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 550px;
    -webkit-box-shadow: 7px 7px 32px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 7px 7px 32px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 7px 7px 32px 0px rgba(0, 0, 0, 0.20);
    margin-bottom: 50px;

}

.waitListContainer .card h2 {
    font-size: 28px;
    font-weight: 600;
}

.waitListContainer .card p {
    margin: 15px 0px;
}

.waitListContainer .card .inputWrapper {
    position: relative;
    width: 100%;
}

.waitListContainer .card input {
    height: 40px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #828282;
    padding: 0px 10px;
    padding-right: 42px;
    width: 100%;
    font-size: 14px;
}

.waitListContainer .card .inputWrapper svg {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
}

.waitListContainer .card .inputWrapper svg:hover path {
    stroke: #ff8a25;
}

.waitListContainer .card  a {
    margin-top: 15px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #ff8a25;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.waitListContainer .share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.waitListContainer .share span {
    border: 1px solid #dcdcdc;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.waitListContainer .share span:hover {
    border: 1px solid #828282;
}